name: CI SonarCloud

on:
  push:
    branches:
      - main

jobs:
  sonar-analysis:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Java obligatoire pour Sonar
      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # SonarCloud Scan
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

        with:
          args: >
            -Dsonar.projectKey=AmiraAyaGH_tlaqCalculatrice
            -Dsonar.organization=AmiraAyaGH
            -Dsonar.sources=.